In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Load the dataset
raw_data = pd.read_csv('multimodal_tweets_dataset.csv')
raw_data.head()

,tweet_text,images,target,anotasi
0,"Kerajaan Pajajaran, Majapahit, Mataram Kuno &a...",1587087261275152384_0.jpg,muslim,not hate
1,Nih klub ngawur banget. Masa kampanye kaum pel...,1759555332689609118_0.jpg,lgbt,hate
2,Perbandingan Malaysia dan Indonesia dalam hal ...,1741940075737608656_0.jpg,rohingya,not hate
3,Di tunggu y KLARIFIKASINYA Bpk. Agus Subianto ...,1723960967657377808_0.jpg,muslim,hate
4,teruslah produktif dan terlihat menghambur2kan...,1776650672886460730_0.jpg,wanita,not hate

In [3]:
# drop images and target columns
data = raw_data.drop(columns=['images', 'target'])
data.head()

                                          tweet_text   anotasi
0  Kerajaan Pajajaran, Majapahit, Mataram Kuno &a...  not hate
1  Nih klub ngawur banget. Masa kampanye kaum pel...      hate
2  Perbandingan Malaysia dan Indonesia dalam hal ...  not hate
3  Di tunggu y KLARIFIKASINYA Bpk. Agus Subianto ...      hate
4  teruslah produktif dan terlihat menghambur2kan...  not hate

In [5]:
# rename tweet_text to text and anotasi to label
data = data.rename(columns={'tweet_text': 'text', 'anotasi': 'label'})
data.head()

                                                text     label
0  Kerajaan Pajajaran, Majapahit, Mataram Kuno &a...  not hate
1  Nih klub ngawur banget. Masa kampanye kaum pel...      hate
2  Perbandingan Malaysia dan Indonesia dalam hal ...  not hate
3  Di tunggu y KLARIFIKASINYA Bpk. Agus Subianto ...      hate
4  teruslah produktif dan terlihat menghambur2kan...  not hate

In [10]:
# Convert the value of text is string
data['text'] = data['text'].astype(str)

# convert not hate to neutral
data['label'] = data['label'].replace({'not hate': 'neutral'})

data.head()

                                                text    label
0  Kerajaan Pajajaran, Majapahit, Mataram Kuno &a...  neutral
1  Nih klub ngawur banget. Masa kampanye kaum pel...     hate
2  Perbandingan Malaysia dan Indonesia dalam hal ...  neutral
3  Di tunggu y KLARIFIKASINYA Bpk. Agus Subianto ...     hate
4  teruslah produktif dan terlihat menghambur2kan...  neutral

In [12]:
# save to csv
data.to_csv('cleaned_dataset.csv', index=False)